#roboger {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 100px;
    width: 300px;
    display: block;
    text-align: center;
    border: dashed 1px rgb(0, 0, 0);
    padding: 30px;
    background-color: lemonchiffon;
}

#submit {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

#inputNumber {
    margin: auto;
    text-align: center;
    background-color: lemonchiffon;
    width: 200px;
}